/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLE */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.header-title{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: white;
    animation: glow 1.5s infinite alternate;
}

/* LIVE ANIMATION */

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #020024, 0 0 10px #020024, 0 0 20px #020024, 0 0 40px #020024, 0 0 80px #020024;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

/* BOXS STYLE */

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    margin: 50px;
    width: 100%;
    height: 200px;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 8px;
    margin-left: 12px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.information:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 5px black;
}

.state{
    padding: 12px;
}

.font{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    margin-top: 12px;
}

.num{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.state{
    display: grid;
    grid-template-columns: 1fr;
}

.txt{
    resize: none;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.txt:hover{
    transform: translateY(-8px);
    box-shadow: 0px 0px 5px black;
}

.txt:active{
    outline: none!important;
}

.txt::placeholder{
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.main{
    display: flex;
    justify-content: center!important;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 454px;
}

.one,
.two{
    border-right: 1px solid gray;
}

.one{
    border-bottom: 1px solid gray;
}

.border{
    border-bottom: 1px solid gray;
}

/* FOOTER STYLE */

.footer{
    display: flex;
    justify-content: center;
    height: 180px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer-title{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: white;
    margin-bottom: 50px;
}

/* RESPONSIVE */

@media (max-width:615.98px){
    .container{
        grid-template-columns: 1fr;
    }

    .txt{
        margin: 30px;
        height: 200px;
    }

    .footer-title{
        margin-top: 50px;
    }
}